@charset "UTF-8";

/*
Tablet: 768px até 992px
Desktop: 993px até 1200px
Grandes telas: 1201px +
*/

@media screen and (min-width: 768px) {
    section#img01 {
        background-image: url(../Imagens/Casinha\ no\ açude\ \(longe\).jpeg);
        background-position: center center;
    }

    #bfixo img {
        position: fixed;
        bottom: 7px;
        right: 7px;
        margin: 2px;
        width: 70px;
        border-radius: 50%;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.822);
    }
    
    #bfixo img:hover {
        width: 55px;
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.822);
    }

    section#galer > section#glr01 {
        width: 40%;
    }

    section#galer > section#glr02 {
        width: 40%;
    }

    section#galer > section#glr03 {
        width: 40%;
    }

    section#galer > section#glr04 {
        width: 40%;
    }

    section#galer > section#glr05 {
        width: 40%;
    }
}