@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Sriracha', cursive;
    --fonte3: 'Paytone One', sans-serif;
}

:root {
    --cor1: #8C92FA;
    --cor2: #585DAD;
    --cor3: #5C4033;
    --cor4: #D2B48C;
    --cor5: #98FB98;
    --cor6: #2AAD2A;
}

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    min-height: 100vh;
}

#bfixo img {
    position: fixed;
    bottom: 7px;
    right: 7px;
    margin: 2px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.822);
}

#bfixo img:hover {
    width: 55px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.822);
}

/* .link {
    padding: 0px;
    margin: 0px;
    text-align: left;
    background-color: #d2b48cc4;
} 

.link img {
    margin: 2.5px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.822);
}

.link img:hover {
    margin: 0px;
    width: 35px;
    box-shadow: 2px 2px 5px white;
} */

header {
    height: 100vh;
    background-color: #d2b48cc4;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
    border-radius: 0 0 15px 15px;
}

.conteudo {
    text-align: center;
}

.conteudo > h1 {
    padding: 20px;
    padding-top: 20px;
    color: #2AAD2A;
    font-family: var(--fonte3);
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 1);
}

.conteudo > p {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-family: var(--fonte2);
    font-size: 1.2em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.galeria-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 4vw;
    margin-bottom: 20px;
    gap: 1vw;
}

.galeria-itens-header {
    width: 35vw;
    height: 15vh;
    border: 2px solid white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
    flex-grow: 0.5;
}

section > h2 {
    text-align: center;
    margin-bottom: 10px;
}

section > p {
    text-align: center;
}

#estrutura > h2 {
    margin-top: 20px;
}

.slider {
    border: 2px solid black;
    margin: 0 auto;
    width: 90vw;
    height: 40vh;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 40vh;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide h1 {
    margin: calc(40vh / 2.4) 10px;
    position: absolute;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.slide button {
    margin: calc(40vh / 2) 10px;
    position: absolute;
    width: 110px;
    height: 25px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.slide button:hover {
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 90%;
    background-color: #ffffff00;
    border: 2px solid white;
    transition: 0.4s ease-in-out;
}


.slide > img {
    width: 90vw;
    height: 45vh;
    object-fit: cover;
}

.manual-navigation {
    position: absolute;
    width: 90vw;
    margin-top: -25px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 90vw;
    margin-top: calc(40vh - 25px);
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
}

#localizacao {
    margin-top: 35px;
    background-color: #98fb988f;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.486);
    padding: 20px;
    border-radius: 15px;
}

.iframe-localizacao > iframe {
    margin-top: 20px;
    border: 2px solid white;
}

#comodidades {
    margin-top: 35px;
    padding: 20px;
}

.info > h2 {
    font-family: var(--fonte2);
    font-size: 2em;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.384);
}

.info > ul {
    font-family: var(--fonte2);
    color: rgba(0, 0, 0, 0.904);
    font-size: 1.5em;
    list-style-type: none;
}

#galeria-imagens {
    margin-top: 35px;
    background-color: #98fb988f;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.486);
    padding: 20px;
    border-radius: 15px;
}

.galeria-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 4vw;
}

.galeria-itens {
    width: 35vw;
    height: 200px;
    border: 2px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.555);
    flex-grow: 1;
    transition: transform .1s linear;
}

.galeria-itens:hover {
    transform: scale(1.05);
}

.galeria-itens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hospedeiro {
    margin-top: 35px;
}

.sobre-hospedeiro {
    margin-top: 35px;
    text-align: center;
    width: 90vw;
    height: 20vh;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: auto;
}

footer {
    margin-top: 20px;
    background-color: #77503fde;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.486);
    color: white;
    text-align: center;
    font-family: var(--fonte2);
    font-size: 1em;
    padding: 5px;
}

footer a {
    color: #08d808;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.192);
}

footer a:hover {
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.322);
}