@charset "UTF-8";

/*
Tablet: 768px até 992px
Desktop: 993px até 1200px
Grandes telas: 1201px +
*/

@media screen and (max-width: 1250px) {
    .nav-bar {
        padding: 1.5rem;
    }

    .nav-item {
        display: none;
    }

    .social-links {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .social-links {
        display: flex;
        justify-content: center;
        gap: 2vw;
        padding-bottom: 10px;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }
}

@media screen and (min-width: 600px) and (max-width: 850px){ 
    .conteudo > p {
        font-size: 1.3em;
    }

    .galeria-itens-header {
        width: 25vw;
        height: 25vh;
    }
}

@media screen and (min-width: 851px) and (max-width: 991px){
    .galeria-itens-header {
        width: 20vw;
        height: 250px;
    }
    
    .conteudo > p {
        font-size: 1.5em;
    }

    .galeria-itens-header {
        width: 25vw;
        height: 25vh;
    }

    #galeria-hospedeiro {
        display: flex;
        align-items: center;
    }

    .card-hospedeiro {
        margin: 0;
    }
}


@media screen and (min-width: 992px) {
    main {
        width: 76vw;
        display: block;
        margin: 0 auto;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.705);
    }

    .galeria-itens-header {
        width: 20vw;
        height: 250px;
    }

    .slider {
        width: 70vw;
    }

    .slide > img {
        width: 70vw;
        height: 50vh;
        object-fit: cover;
    }

    .manual-navigation {
        position: absolute;
        width: 70vw;
    }

    .navigation-auto {
        position: absolute;
        width: 70vw;
    }
    
    .galeria-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 2vw;
        padding: 0 4vw;
    }
    
    .galeria-itens {
        width: 30vw;
        height: 250px;
    }
    
    .conteudo > p {
        font-size: 1.5em;
    }

    #bfixo img {
        position: fixed;
        bottom: 7px;
        right: 7px;
        margin: 2px;
        width: 70px;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.822);
    }
    
    #bfixo img:hover {
        width: 80px;
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.822);
    }
}

@media screen and (min-width: 1050px) {
    .galeria-itens-header {
        width: 20vw;
        height: 300px;
    }

    #galeria-hospedeiro {
        display: flex;
        align-items: center;
    }

    .card-hospedeiro {
        margin: 0;
    }
}

@media screen and (min-width: 1200px) {
    .galeria-itens-header {
        width: 20vw;
        height: 300px;
        flex-grow: 0.45;
    }

    .slider {
        width: 70vw;
        height: 60vh;
    }

    .slide > img {
        width: 70vw;
        height: 60vh;
        object-fit: cover;
    }

    .slide h1 {
        margin: calc(60vh / 2.4) 45px;
        position: absolute;
        transform: scale(1.4);
    }

    .slide button {
        margin: calc(60vh / 2) 45px;
        position: absolute;
        transform: scale(1.6);
    }

    .manual-navigation {
        margin-top: calc(60vh - 410px);
    }

    .navigation-auto {
        margin-top: calc(60vh - 25px);
    }

    .galeria-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 2vw;
        padding: 0 4vw;
    }
    
    .galeria-itens {
        width: 20vw;
        height: 300px;
    }
}